<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>林書豪旋風2.0 – 成功的再思</title>
</head>

<body>
<h3><strong>請確認登記並下載 QR 碼供進場之用 Here is your QR code for admission</strong></h3><br />
恭喜！您已經成功登記參與「林書豪旋風2.0 – 成功的再思」!<br />
  Congratulation! You have successfully registered for the Event &ldquo;Linsanity 2.0 – Redefining Success&rdquo;!<br />
</p>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="81" height="30">日期 Date</td>
    <td width="3">：</td>
    <td>28/06/2015 (星期日 Sunday)</td>
  </tr>
  <tr>
    <td height="30">時間 Time</td>
    <td>：</td>
    <td>3:00pm – 5:30pm</td>
  </tr>
  <tr>
    <td height="30">地點 Venue</td>
    <td>：</td>
    <td>香港中文大學邵逸夫堂（主場）、潤昌堂（轉播場地）</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>Sir Run Run Shaw Hall, The Chinese University of Hong Kong (Main Venue),  Y.C. Liang Hall (Broadcast Venue)</td>
  </tr>
</table>
<img src="cid:{{ qrpath }}">
<p>請以本函附上的QR碼，作為當日入場的電子門券。您必須在入場時展示這個QR碼（可以是存於手提電話 / 手帳的電子本，或者是列印出來的文本），以供掃描。若您未能提供這個QR碼，您將不會獲准進場。每個QR碼祇供一人進場，一經使用，該QR碼即會被註消，不能再供其他人使用。The QR code is your electronic ticket to attend the  Event.  You must present the QR code  (either electronically in your mobile phone/note pad or physically as a  print-out) for scanning before your entrance.   Without the QR code, you will not be allowed to enter into the venue. Each QR code only permits  the admission of one individual.  Once it  is used, the QR code will be cancelled and no longer valid for admission by  anyone later.</p>
<p>&nbsp;</p>
<p>請細閱並遵守以下電子門券的使用規則 
  Please also note and comply with the Terms of Use  for this electronic ticket as below：</p>
<p>&nbsp;</p>
<p><strong>使用規則 </strong><strong>Terms of Use for online ticket</strong>
</p>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="2" align="left" valign="top">1.</td>
<td>2015年6月28日下午二時正開始憑票進場。每票祇限一人。<br/> Doors open at 2:00 p.m. on 28 June, 2015.  Admission by ticket only, one ticket per  person.</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top">2.</td>
    <td>不設劃位及留位。主場邵逸夫堂設有1,400座位，先到先得。主場滿座後，請往潤昌堂欣賞即時轉播。<br/>Free seating and no seat reservation.   Main venue (Sir Run Run Shaw Hall) provides 1,400 seats only.  Available on first-come-first-serve  basis.  After the main venue is fully  occupied, guests should proceed to Y.C. Liang Hall for live-broadcast viewing.</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top">3.</td>
    <td>進場人士需衣履整齊。(請勿穿著涼鞋、拖鞋或底衫等)<br />Proper attire is required for admission. (e.g. Under-shirts, sandals or  slippers are not considered as proper attire)</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top">4.</td>
    <td>香港中文大學校園所有範圍均禁止吸煙。<br/>No smoking is allowed at the campus of The Chinese University of Hong  Kong.</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top">5.</td>
    <td>除主辦單位授權代表外，所有人士嚴禁在場內攝影、錄音及錄影。 <br/>Except for authorized representatives of the Organizer, filming and  other audio/video recording of the Event at the venues are strictly prohibited.</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top">6.</td>
    <td>不得攜帶食物及飲品進場。<br/> Food and beverages are not allowed in the venues.</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top">7.</td>
    <td>玻璃瓶、煙花、易燃物品、利器、大型物品及濕雨具等均不得攜帶進場。<br/>Glass bottles, fireworks, hazardous materials, weapons, big parcels and  wet umbrellas are not allowed in the venues. </td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top">8.</td>
    <td>為確保觀眾安全，香港中文大學及其授權代表在無須預先通知情況下可進場進行保安檢查。<br/>The Chinese University of Hong Kong and its authorized representatives  may, on any occasion and without notice, conduct security searches to ensure  the safety of its visitors in the venues.</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top">9.</td>
    <td>主辦單位保留拒絶任何人士進場之決定權，而不作任何賠償。<br/> The Organizer reserves the right, without refund or any other  compensation, to refuse admission to any person at its absolute discretion.</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top">10.</td>
    <td>基於廣播、保安、公眾健康及／或安全理由，香港中文大學將在有需要的情況下，對入場人士進行錄影、拍照及／或錄音。 <br/>Visitors of the Halls may be filmed, photographed and/or recorded for  broadcast, security, health and/or safety purposes as whenever deemed necessary  by the Organizer.</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top">11.</td>
    <td>主辦單位不會因活動取消或延期而作出任何賠償。<br/>The Organizer shall not accept any liability whatsoever due to any  cancellation or postponement of the Event.</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top">12.</td>
    <td>持票人士需同意遵守香港中文大學之所有及將來所改動之條款及細則。 <br/>The ticket holder agrees to abide by these Terms of Use and other  applicable rules and regulations of The Chinese University of Hong Kong as  amended from time to time and use of this ticket by the ticket holder shall be  deemed as complete acceptance of same.</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top">13.</td>
    <td>惡劣天氣指引：假如活動當日上午十時正或之前，天文台發出8號或以上熱帶氣旋警告信號；或者發出黑色暴雨警告信號，有關活動將會取消。若上午十時正或之前，8號或以上熱帶氣旋警告信號；或者黑色暴雨警告信號已經取消，有關活動照常舉行。 <br/>Guidelines for severe weather:  On  the Event Date, on or before 10 am, if the Hong Kong Observatory issues a Black  Rainstorm Signal or Tropical Cyclone Warning Signal No. 8 or above, the Event  will be cancelled.  If the Black  Rainstorm Signal or the Tropical Cyclone Warning Signal No. 8 or above is/will  be cancelled on or before 10 am, the Event will proceed as scheduled.</td>
  </tr>
</table>
</body>
</html>
