<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>林書豪旋風2.0 – 成功的再思</title>
</head>

<body>
您好！您的朋友 {{ name }} 已經成功登記參與<strong>「林書豪旋風2.0 – 成功的再思」</strong><br/>
Hi! Your friend {{ name }} has successfully registered for the Event<strong> &ldquo;Linsanity 2.0 –  Redefining Success&rdquo;</strong><br />
</p>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="81" height="30">日期 Date</td>
    <td width="3">：</td>
    <td>28/06/2015 (星期日 Sunday)</td>
  </tr>
  <tr>
    <td height="30">時間 Time</td>
    <td>：</td>
    <td>3:00pm – 5:30pm</td>
  </tr>
  <tr>
    <td height="30">地點 Venue</td>
    <td>：</td>
    <td>香港中文大學邵逸夫堂（主場）、潤昌堂（轉播場地）</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>Sir Run Run Shaw Hall, The Chinese University of Hong Kong (Main Venue),  Y.C. Liang Hall (Broadcast Venue)</td>
  </tr>
</table>
<p><br />
歡迎您登入以下網站，免費登記參加是項活動。 <br/>You are invited to register too.  Please click the following hyperlink for free  registration.</p>
<p><a href="http://www.cuhk.edu.hk/ccc/chaplaincy/Linsanity2.0" target="_blank">http://www.cuhk.edu.hk/ccc/chaplaincy/Linsanity2.0</a></p>
</body>
</html>
