<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Linsanity 2.0 – Redefine Success</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
<div class="container">
    <form id="signup" action="." method="POST">
        <div class="header">
            <h3>Linsanity 2.0 <br> Redefine Success</h3>
            <h4>林書豪旋風2.0：成功的再思</h4>
            <p>You have to fill out this form to get the ticket</p>
        </div>
        <div class="sep"></div>
        <div class="inputs">
            {% csrf_token %}
            <label for="id_name">Name:</label>
            {{ form.name.errors }}
            {{ form.name }}

            <br>
            <label for="id_email">Email:</label>
            {{ form.email.errors }}
            {{ form.email }}

            <label for="id_school">Which university or organization are you from?</label>
            {{ form.school.errors }}
            {{ form.school }}

{#            <label for="id_chris"><html>Are you a Christian? <span style="color: #8f8f8f">(Optional)</span></html></label>#}
{#            {{ form.chris.errors }}#}
{#            {{ form.chris }}#}

            <label for="id_invite"><html>Whom do you want to invite?<br><span style="color: #8f8f8f">(Optional, emails separate by ; or Space or Enter)</span></html></label>
            {{ form.invite.errors }}
            {{ form.invite }}

            <input id="submit" type="submit" value="SIGN UP FOR TICKET NOW">

        </div>
    </form>
</div>
{#    <h1>User register</h1>#}
{#    {% if form.errors %}#}
{#    <p style="color: red;">#}
{#        Please correct the error{{  form.errors | pluralize }} below#}
{#    </p>#}
{#    {% endif %}#}
{#    <form action="." method="POST">#}
{#        <table>#}
{#            {% csrf_token %}#}
{#            {{ form.as_table }}#}
{#        </table>#}
{#        <p><input type="submit" value="Submit"></p>#}
{#    </form>#}
</body>
<footer>
To display normally, Chrome, Firefox, Safari or Opera are preferred.
</footer>
</html>