<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Linsanity 2.0 – Redefining Success</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
{% load i18n %}
<div class="container">
    <form id="signup" action="." method="POST">
        <div class="header">
            <h3>Linsanity 2.0 <br><span style="font-style: italic">Redefining Success</span></h3>
            <p>Please fill in the online form below to register for free ticket for “Linsanity 2.0 – Redefining Success”</p>
        </div>
        <div class="sep"></div>
        <div class="inputs">
            {% csrf_token %}
            <label for="id_name">Name:</label>
            {{ form.name.errors }}
            {{ form.name }}

            <br>
            <label for="id_email">Email:</label>
            {{ form.email.errors }}
            {{ form.email }}

            <label for="id_school">Which tertiary institution are you studying?</label>
            {{ form.school.errors }}
            {{ form.school }}

{#            <label for="id_chris"><html>Are you a Christian? <span style="color: #8f8f8f">(Optional)</span></html></label>#}
{#            {{ form.chris.errors }}#}
{#            {{ form.chris }}#}

{#            <label for="id_invite"><html>Whom do you want to invite?<br><span style="color: #8f8f8f">(Optional, emails separate by ; or Space or Enter)</span></html></label>#}
{#            {{ form.invite.errors }}#}
{#            {{ form.invite }}#}

            <input id="submit" type="submit" value="SIGN UP FOR TICKET NOW">

        </div>
    </form>
</div>
{#    <h1>User register</h1>#}
{#    {% if form.errors %}#}
{#    <p style="color: red;">#}
{#        Please correct the error{{  form.errors | pluralize }} below#}
{#    </p>#}
{#    {% endif %}#}
{#    <form action="." method="POST">#}
{#        <table>#}
{#            {% csrf_token %}#}
{#            {{ form.as_table }}#}
{#        </table>#}
{#        <p><input type="submit" value="Submit"></p>#}
{#    </form>#}
<footer>
To display normally, Chrome, Firefox, Safari or Opera are preferred.
</footer>
</body>
</html>