<!DOCTYPE html>
<html>
{% load i18n %}
<head lang="en">
    <meta charset="UTF-8">
    <title>{% trans "Linsanity 2.0 – Redefining Success" %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
    <div class="container">
        <div id="signup">
            <div class="header">
                {% ifequal msg 'Sorry, your email has been registered!' %}
                    <h3>{% trans "Sorry, your email has been registered!" %}</h3>
                {% endifequal %}
                {% ifequal msg 'Sorry, all tickets sold out.' %}
                    <h3>{% trans "Oooop! All the tickets have been taken!" %}</h3>
                    <p>{% trans "Thank you for your interest in the Event.  However all the online tickets have already been taken." %}</p>
                    <p>{% trans "You may still participate in the Event remotely by viewing the live webcast at the following webpage:" %}</p>
                    <p>http://www.cuhk.edu.hk/chaplain/xxxxx</p>
                {% endifequal %}
            </div>
        </div>
    </div>
</body>
</html>