<!DOCTYPE html>
<html>
{% load i18n %}
<head lang="en">
    <meta charset="UTF-8">
    <title>{% trans "Linsanity 2.0 – Redefining Success" %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
    <div class="container">
        <div id="signup">
            <div class="header">
            <h3>{% trans "Thank you!" %}</h3>
            <p>{% trans "Your friends will receive an invitation of “Linsanity 2.0 - Redefining Success” with register link inside." %}<p>
            {% if errors %}
            <p>There are some error{{ errors | pluralize }} in your invite email list</p>
            <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
            {% endif %}
            </div>
        </div>
    </div>
</body>
</html>